
/** {*/
/*    border: 1px solid black;*/
/*    margin: 2px;*/
/*}*/
div.background{
    display: flex;
    flex-direction: column;
    background: #FCF1CC;
}
div.top-background {

    flex-wrap: wrap;
    flex-direction: row;
    background: #FCF1CC;
    width: 390px;
    height: 244px;



}
div.time-item {
    display: flex;
    flex-direction: row;

}
div.time-item > div {
    flex: 1;
}
div.phone-icon-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 390px;
    height: 20px;
    left: 0;
    top: 0;
    background: #FCF1CC;
}
div.address-date-box {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 390px;
    height: 28px;
    left: 29px;
    top: 45px;
    background: #FCF1CC;


}

.address-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;

    font-size: 20px;
    line-height: 28px;
}
.address-city{
    font-weight: bolder;
}
.today{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #D8A72F;
}
.temperature-icon {
    font-style: normal;
    font-weight: 200;
    font-size: 128px;
    line-height: 67.5%;
}
div.icon {
    left: 87.44%;
    right: 8.46%;
    top: 6.04%;
    bottom: 92.06%;
}
div.date-time-temperature-box {
    display: flex;

    justify-content: flex-end;

    width: 370px;
    height: 100px;
    left: 0;
    top: 0;
    background: #FCF1CC;
}
.date-range{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sun-and-cloud{
    background-image: url("/");
}
.system-point{
    text-align: center;
}
div.underneath-background {
    width: 390px;
    height: 876px;
    left: 0;
    top: 342px;

    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(229, 181, 70, 0.5);
    border-radius: 15px 15px 0 0;
}
div.weather-now-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.weather-now-topic {
    display: flex;
    justify-content: space-between;

    width: 390px;
    height: 28px;


}
.weather-now-topic-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    height: 20px;
    text-align: center;

}
.weather-now-topic-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.all-weather-now-item {
    display: grid;
    grid-template-columns: repeat(3,108px);
    grid-template-rows: repeat(2,80px);
    grid-auto-flow: column;
    grid-gap: 15px;
    padding: 17px;
}
.weather-now-item1, .weather-now-item2, .weather-now-item3, .weather-now-item4, .weather-now-item5, .weather-now-item6 {
    width: 108px;
    height: 80px;
    left: 141px;
    top: 385px;

    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}
.weather-now-item1-text1, .weather-now-item2-text1, .weather-now-item3-text1, .weather-now-item4-text1, .weather-now-item5-text1, .weather-now-item6-text1 {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #D8A72F;
}
.weather-now-item1-text2, .weather-now-item2-text2, .weather-now-item3-text2, .weather-now-item4-text2, .weather-now-item5-text2, .weather-now-item6-text2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.weather-now-item1-text3, .weather-now-item2-text3, .weather-now-item3-text3, .weather-now-item4-text3, .weather-now-item5-text3, .weather-now-item6-text3 {
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: #808080;
}
.weather-now-item1-icon, .weather-now-item2-icon, .weather-now-item3-icon, .weather-now-item4-icon, .weather-now-item5-icon, .weather-now-item6-icon {
    width: 21px;
    height: 14px;
    left: 33px;
    top: 491px;
}
.temperature-and-weather-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.temperature-and-weather-topic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 390px;
    height: 35px;
    line-height: 20px;
}
.all-temperature-and-weather-item{
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;

}
.temperature-and-weather-item1, .temperature-and-weather-item2, .temperature-and-weather-item3, .temperature-and-weather-item4, .temperature-and-weather-item5 {
    display: flex;
    flex-direction: column;



}
.temperature-and-weather-item1-text1, .temperature-and-weather-item2-text1, .temperature-and-weather-item3-text1, .temperature-and-weather-item4-text1, .temperature-and-weather-item5-text1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.temperature-and-weather-item1-text2, .temperature-and-weather-item2-text2, .temperature-and-weather-item3-text2, .temperature-and-weather-item4-text2, .temperature-and-weather-item5-text2 {

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
}
.temperature-and-weather-item1-icon, .temperature-and-weather-item2-icon, .temperature-and-weather-item3-icon, .temperature-and-weather-item4-icon, .temperature-and-weather-item5-icon {
    width: 40px;
    height: 40px;

}
.Later-this-weak-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Later-this-weak-topic {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    height: 30px;
}
.all-temperature-and-weather-item {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
}
.Later-this-weak-item {
    display: flex;

    justify-content: flex-start;

}
.Later-this-weak-item-text-slider {
    width: 130px;

}
.Later-this-weak-item-text1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 90px;
    height: 22.73px;
}
.Later-this-weak-item-text2, .Later-this-weak-item-text3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 30px;
    height: 22.73px;


    text-align: right;

    color: #808080;
}
.Later-this-weak-item-icon {
    width: 50px;
    height: 38.27px;
}
.all-Later-this-weak-item {
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
}