/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background styles */
.background {
    display: flex;
    flex-direction: column;
    background: #FCF1CC;
    width: 390px;
    height: 1000px;
}

.top-background,
.underneath-background {
    width: 100%;
    padding: 22px;
}

.top-background {
    background: #FCF1CC;
    height: 342px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 16px rgba(229, 181, 70, 0.5);
    border-radius: 15px;
}

.underneath-background {
    background-color: #FFFFFF;
    height: 876px;
    box-shadow: 0 0 16px rgba(229, 181, 70, 0.5);
    border-radius: 0 0 15px 15px;
}

/* Phone icon styles */
.phone-icon-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20px;
    background: #FCF1CC;
}

/* Address and date styles */
.address-date-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 28px;
    background: #FCF1CC;
    padding: 0 22px;
}

.address-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}

.address-city {
    font-weight: bolder;
}

.today {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #D8A72F;
}

/* Temperature icon styles */
.temperature-icon {
    font-style: normal;
    font-weight: 200;
    font-size: 128px;
    line-height: 67.5%;
}