
/** {*/
/*    border: 1px solid black;*/
/*    */
/*}*/

/*background*/
div.background{
    display: flex;
    flex-direction: column;
    background: #FCF1CC;
    width: 390px;
    height: 1000px;

}
div.top-background {

    flex-wrap: wrap;
    flex-direction: row;
    background: #FCF1CC;
    width: 390px;
    height: 342px;
    padding: 22px;
    box-sizing: border-box;



}
div.underneath-background {
    width: 390px;
    height: 876px;
    left: 0;
    top: 342px;
    padding: 22px;
    box-sizing: border-box;

    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(229, 181, 70, 0.5);
    border-radius: 15px 15px 0 0;
}


/*header*/
div.time-item {
    display: flex;
    flex-direction: row;

}

div.phone-icon-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 390px;
    height: 20px;
    left: 0;
    top: 0;
    background: #FCF1CC;
}

/*address and date*/
div.address-date-box {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 390px;
    height: 28px;
    left: 29px;
    top: 45px;
    background: #FCF1CC;


}

.address-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: normal;

    font-size: 20px;
    line-height: 28px;




}
.address-city{
    font-weight: 600;
}

/*today*/
.today{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #D8A72F;
}
.temperature-icon {
    font-style: normal;
    font-weight: 200;
    font-size: 128px;
    line-height: 67.5%;
}
div.icon {
    left: 87.44%;
    right: 8.46%;
    top: 6.04%;
    bottom: 92.06%;
}
/*data and time and temperature*/
div.date-time-temperature-box {
    display: flex;

    justify-content: flex-end;

    width: 370px;
    height: 100px;
    left: 0;
    top: 0;
    background: #FCF1CC;
}
.sun-and-cloud{
     /*background-image: url("/");*/
}
.date-range{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*三个点*/
.system-point{
    text-align: center;
}

/*weather now*/
div.weather-now-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.weather-now-topic {
    display: flex;
    justify-content: space-between;


    margin-top: 5px;


}
.weather-now-topic-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    height: 20px;
    text-align: center;

}
.weather-now-topic-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.all-weather-now-item {
    display: grid;
    grid-template-columns: repeat(3,108px);
    grid-template-rows: repeat(2,80px);
    grid-auto-flow: column;
    grid-gap: 15px;

}
.weather-now-item{
    width: 108px;
    height: 80px;
    left: 141px;
    top: 385px;
    box-sizing: border-box;
    padding: 10px;

    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;

}
.weather-now-item-text1{
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    color: #D8A72F;
}
.weather-now-item-text2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.weather-now-item-text3 {
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: #808080;
}
.weather-now-item-icon {
    width: 21px;
    height: 14px;
    left: 33px;
    top: 491px;
}

/*temperature and weather*/
.temperature-and-weather-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.temperature-and-weather-topic {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;

}
/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

.all-temperature-and-weather-item{

    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
    overflow: hidden;
    padding-left: 10px;
    overflow-x: scroll;




}
.all1 {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    width: 10000px;



}
.temperature-and-weather-item{
    display: flex;
    flex-direction: column;



}
.temperature-and-weather-item-text1{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.temperature-and-weather-item-text2 {

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
}
.temperature-and-weather-item-icon {
    width: 40px;
    height: 40px;

}
/*Later this weak*/
.Later-this-weak-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Later-this-weak-topic {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.all-temperature-and-weather-item {
    display: flex;
    justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
    box-sizing: border-box;


}
.Later-this-weak-item {
    display: flex;

    justify-content: flex-start;
    padding-left: 26px;
    padding-top: 27.9px;

}
.Later-this-weak-item-text-slider {
    width: 130px;

}
.Later-this-weak-item-text1 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    width: 90px;
    height: 22.73px;
}
.Later-this-weak-item-text2, .Later-this-weak-item-text3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 30px;
    height: 22.73px;


    text-align: right;

    color: #808080;
}
.Later-this-weak-item-icon {
    width: 50px;
    height: 38.27px;
}
.all-Later-this-weak-item {
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(214, 162, 42, 0.2);
    border-radius: 15px;
}